.page
  .container
    .control-panel.hidden-print
      %span.desc Other formats:
      = link_to publication_path(@resume.slug, format: :pdf) do
        %span.icon.fa.fa-file-pdf-o
        PDF
      = link_to publication_path(@resume.slug, format: :txt) do
        %span.icon.fa.fa-file-text-o
        Plain text
    = ResumeRenderer.new(@resume).render_theme(@resume.current_theme, layout: 'publication')

- content_for :stylesheet_links do
  = stylesheet_link_tag "themes/#{@resume.current_theme}", media: :all

- content_for :body_javascript do
  :javascript
