.page.signup-page
  .container
    .row
      .col-md-12
        .form-container.center-block
          .form-title Sign up
          - if @user.errors.any?
            %ul
              - @user.errors.full_messages.each do |msg|
                %li= msg
          = form_for @user do |f|
            = f.hidden_field :timezone
            .form-group
              = f.label :username
              = f.text_field :username, class: "form-control", spellcheck: false, autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off'
            .form-group
              = f.label :email
              = f.email_field :email, class: "form-control", spellcheck: false, autocorrect: 'off', autocapitalize: 'off', autocomplete: 'off'
            .form-group
              = f.label :password
              = f.password_field :password, class: "form-control"
            .form-group
              = f.label :password_confirmation, "Confirm password"
              = f.password_field :password_confirmation, class: "form-control"
            .form-group
              = f.check_box :terms
              = f.label :terms, "I accept the terms and conditions.", class: "small"
            = f.submit "Submit", class: "btn btn-success"

- content_for :body_javascript do
  :javascript
    $(function() {
      var setuptz = require('signup').SetupTimeZone;
      setuptz();
    });