.page
  .signup.container-fluid
    .row
      .col-md-12
        - if @user.errors.any?
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
    .row
      .col-md-12
        .form-container.center-block
          %h1 Sign up
          = form_for @user do |f|
            .form-group
              = f.label :username
              = f.text_field :username, class: "form-control", spellcheck: false
            .form-group
              = f.label :email
              = f.text_field :email, class: "form-control", spellcheck: false
            .form-group
              = f.label :password
              = f.password_field :password, class: "form-control"
            .form-group
              = f.label :password_confirmation, "Confirm password"
              = f.password_field :password_confirmation, class: "form-control"
            .form-group
              = f.check_box :terms
              = f.label :terms, "I accept the terms and conditions.", class: "small"
            = f.submit "Submit"