.page.user_page
  .container
    .page-header
      %h2= @user.username

  .container
    %h3 Update
    = form_for @user do |user_form|
      .form-group
        = user_form.label :timezone
        = user_form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, {} , { class: "form-control" }
      .form-group
        = user_form.label :email
        = user_form.email_field :email, class: "form-control"
      = user_form.submit "Save"

  .container
    %h3 Change Password
    = form_for @user do |user_form|
      .form-group
        = user_form.label :password, "Current password"
        = user_form.password_field :password, class: "form-control"
      .form-group
        = user_form.label :new_password, "New password"
        = user_form.password_field :new_password, class: "form-control"
      .form-group
        = user_form.label :new_password_confirmation, "Confirm new password"
        = user_form.password_field :new_password_confirmation, class: "form-control"
      = user_form.submit("Save")