.user_page
  .container
    .page-contents
      .row
        .col-sm-12
          .user-page__area
            %h3 Account Details

            - if @user.oauth_signup?
              - if @user.auth_provider == 'facebook'
                %h3
                  %i.fa.fa-facebook-official
                  = @user.auth_name
              - elsif @user.auth_provider == 'twitter'
                %h3
                  %i.fa.fa-twitter-square
                  = @user.auth_name
              - elsif @user.auth_provider == 'google'
                %h3
                  %i.fa.fa-google-plus-square
                  = @user.auth_name

            - if @user.oauth_signup?
              %h4 Member since #{@user.created_at.strftime("%B %d, %Y")}
            - else
              = form_for @user do |user_form|
                .form-group
                  = user_form.label :timezone
                  = user_form.time_zone_select :timezone, ActiveSupport::TimeZone.us_zones, {} , { class: "form-control" }
                .form-group
                  = user_form.label :email
                  = user_form.email_field :email, class: "form-control", autocomplete: "off", autocorrect: "off", spellcheck: "false"
                = user_form.submit "Save", class: "btn btn-success"
      - unless @user.oauth_signup?
        .row
          .col-sm-12
            .user-page__area
              %h3 Change Password
              = form_for @user do |user_form|
                .form-group
                  = user_form.label :password, "Current password"
                  = user_form.password_field :password, class: "form-control", autocomplete: "off", autocorrect: "off"
                .form-group
                  = user_form.label :new_password, "New password"
                  = user_form.password_field :new_password, class: "form-control", autocomplete: "off", autocorrect: "off"
                .form-group
                  = user_form.label :new_password_confirmation, "Confirm new password"
                  = user_form.password_field :new_password_confirmation, class: "form-control", autocomplete: "off", autocorrect: "off"
                = user_form.submit "Save", class: "btn btn-success"
      .row
        .col-sm-12
          .user-page__area.last
            %h4 Account Deletion
            = link_to "Delete my JibJob account", delete_user_url(current_user)