%h3 Newest users
%hr
.table-responsive
  %table.table-striped.table-hover.table-condensed
    %tr
      %th ID
      %th Username
      %th Source
      %th Source Name
      %th E-mail
      %th Created
      %th Resumes
    - @users.each do |user|
      %tr
        %td= user.id
        %td= link_to user.username, admin_user_url(user)
        %td= user.auth_provider ? user.auth_provider.titleize : "Direct"
        %td= user.auth_name
        %td= user.email
        %td= user.created_at
        %td= user.resumes.count