.topnav.nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.btn.btn-sm.navbar-toggle.collapsed{'data-toggle': 'collapse', 'data-target': '.navbar-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "jibjob", root_url, class: "navbar-brand navlogo"

    %ul.nav.navbar-nav.navbar-collapse.collapse
      %li
        = link_to get_started_url do
          = t(:get_started)

      %li
        = link_to about_url do
          = t(:about)
      %li
        = link_to faq_url do
          = t(:faq)
      - unless current_user
        %li.topnav-signup-link
          = link_to new_user_url do
            .span.fa.fa-user-plus
            = t(:sign_up)

    %ul.nav.navbar-nav.navbar-right.navbar-collapse.collapse
      - if current_user
        - if current_user.is_admin?
          %li
            = link_to admin_dashboards_path do
              .span.icon.fa.fa-dashboard
              Admin
        %li
          = link_to user_resumes_url(current_user) do
            .span.glyphicon.glyphicon-file
            = t(:my_resumes)
        %li
          = link_to user_url(current_user) do
            .span.glyphicon.glyphicon-user
            = t(:my_account)
      - else
        %li
          = link_to login_url do
            %span.fa.fa-sign-in
            = t(:sign_in)