.topnav.nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %button.btn.btn-sm.navbar-toggle.collapsed{'data-toggle': 'collapse', 'data-target': '.navbar-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "jibjob", root_url, class: "navbar-brand navlogo"

    %ul.nav.navbar-nav.navbar-collapse.collapse
      %li= link_to "Get Started", get_started_url
      %li= link_to "About", about_url
      %li= link_to "FAQ", faq_url
      - unless current_user
        %li.topnav-signup-link
          = link_to new_user_url do
            .span.glyphicon.glyphicon-user
            Sign up

    %ul.nav.navbar-nav.navbar-right.navbar-collapse.collapse
      - if current_user
        %li
          = link_to user_resumes_url(current_user) do
            .span.glyphicon.glyphicon-file
            My Resumes
        %li
          = link_to user_url(current_user) do
            .span.glyphicon.glyphicon-user
            My Account
      - else
        %li= link_to "Sign in", login_url