.topnav.nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.button.navbar-toggle.collapsed{'data-toggle': 'collapse', 'data-target': '.navbar-collapse', href: '#'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        = link_to "jibjob", root_path, class: "navlogo"

    %ul.nav.navbar-nav.navbar-collapse.collapse
      -#%li= link_to "Features", features_url
      %li= link_to "Get Started", features_url
      %li= link_to "Pricing", pricing_url
      %li= link_to "Support", support_index_url
      - unless current_user
        %li= link_to "Sign up", new_user_url

    %ul.nav.navbar-nav.navbar-collapse.collapse.navbar-right
      - if current_user
        %li
          = link_to user_resumes_url(current_user) do
            .span.glyphicon.glyphicon-file
            My Resumes
        %li
          = link_to user_url(current_user) do
            .span.glyphicon.glyphicon-user
            My Account
      - else
        %li= link_to "Sign in", new_session_url