- cache [:details, resume] do
  .details-panel
    %h4 Details
    .status
      Status: #{resume.status}
    .guid
      GUID: #{resume.guid}
    .created_at
      Created: #{resume.created_at}
    .updated_at
      Updated: #{resume.updated_at}
    .edition
      Edition: #{resume.edition}
    .pdf_size
      PDF file size: #{number_to_human_size(resume.pdf_file_size, precision: 3)}