.resume-index-item.col-sm-12
  .row
    .col-sm-9
      .header
        = link_to resume.name, user_resume_url(current_user, resume), class: 'header-title'
        - if resume.is_published?
          %span.publish-status Published
        - else
          %span.publish-status Unpublished

      .descriptor= resume.descriptor

      .action-links
        = link_to "Edit", edit_user_resume_url(current_user, resume), class: "btn btn-primary btn-sm"
        = react_component("ResumePublisher", { resume: { id: resume.id, slug: resume.slug, is_published: resume.is_published, publish_url: publish_user_resume_url(current_user, resume, format: :json), unpublish_url: unpublish_user_resume_url(current_user, resume, format: :json), form_token: form_authenticity_token } }, :span)

    .col-sm-3
      .file-links
        = link_to resume.pdf.url, class: "btn btn-default btn-sm" do
          .glyphicon.glyphicon-file
          PDF
        = link_to user_resume_url(current_user, resume, format: "txt"), class: "btn btn-default btn-sm" do
          .glyphicon.glyphicon-font
          Plain Text