.resume-index-item.col-sm-3.col-lg-2.col-md-3
  .title
    = link_to resume.name, user_resume_url(current_user, resume)
  .thumb
    = link_to user_resume_url(current_user, resume) do
      = image_tag resume.pdf.url(:thumb)
  %ul.preview-links.small
    %li= link_to "PDF", resume.pdf.url
    %li= link_to "Plain Text", user_resume_url(current_user, resume, format: "txt")
    %li= link_to "HTML", user_resume_url(current_user, resume, format: "html")
    %li= link_to "JSON", user_resume_url(current_user, resume, format: "json")
  .publications
    - if resume.publications.present?
      = link_to "Published", user_resume_publications_url(current_user, resume)
    - else
      Unpublished
      |
      = link_to "Publish now", new_user_resume_publication_url(current_user, resume)
  .stats
    Views: 0
    Activity: 0%