- cache [:preview, resume] do
  .resume.row
    .resume-header#header
      - if resume_data.full_name.present?
        %h3#full-name
          = resume_data.full_name
      - if resume_data.address1.present?
        .address#address1= resume_data.address1
      - if resume_data.address2.present?
        .address#address2= resume_data.address2
      - if resume_data.telephone.present?
        .telephone#telephone= resume_data.telephone
      - if resume_data.email.present?
        .email#email= resume_data.email
      - if resume_data.url.present?
        .url#url= resume_data.url

    - resume_data.sections.each_with_index do |section, index|
      .resume-section{id: "section-#{index}"}
        %h4.title= section.title
        - if section.has_para?
          %p.para= section.para
        - if section.has_items?
          %ul
            - section.items.each do |item|
              %li= item.text
        - if section.has_periods?
          - section.periods.each do |period|
            .section-period
              .title= period.title
              .org= period.organization
              .location= period.location
              - if period.dtend.present? && period.dtstart.present?
                .date #{period.dtstart} - #{period.dtend}
              - elsif period.dtend.present?
                .date #{period.dtend}
            - if period.has_items?
              %ul
                - period.items.each do |period_item|
                  %li= period_item.text