%ol.breadcrumb
  %li= link_to "My Resumes", user_resumes_url(current_user)
  %li= link_to @resume.name, user_resume_url(current_user, @resume)
  %li Delete resume

.page.resume-delete-page
  .container
    %h3= @resume.name
    %h4 Are you sure you want to delete this resume?
    %p (This action is not undoable.)
    = form_tag(user_resume_url(current_user, @resume), method: "DELETE") do
      = submit_tag "Yes - Delete it", class: "btn btn-danger btn-xs"