.page
  %ol.breadcrumb
    %li= link_to "My Resumes", user_resumes_url(current_user)
    %li= link_to @resume.name, user_resume_url(current_user, @resume)

  .page-header
    .container-fluid
      %h3
        = @resume.name

  .container-fluid
    = form_for [current_user, @resume] do |resume_form|
      .form-group
        = resume_form.label :name
        = resume_form.text_field :name, class: "form-control"
      .form-group
        = resume_form.label :content
        = resume_form.text_area :content, class: "form-control console", size: "25x40"

      = resume_form.button "Update", class: "btn btn-success"