- content_for :body_javascript do
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js"

.page
  %ol.breadcrumb
    %li= link_to "My Resumes", user_resumes_url(current_user)
    %li= link_to @resume.name, user_resume_url(current_user, @resume)
    %li Edit

  #resume_form

  - content_for :body_javascript do
    :javascript
      $(function(){
        React.render(React.createElement(JibJob.ResumeForm, { resume: #{@resume_data}, saveURL: "#{user_resume_url(current_user, @resume)}", saveMethod: 'PUT', usePlainEditor: #{@use_plain_editor}, sampleURL: "/assets/text/sample-resume.txt", nameMaxLength: #{Resume::NAME_MAX_LENGTH}, slugMaxLength: #{Resume::SLUG_MAX_LENGTH} }), document.getElementById("resume_form"));
      });