.page.resumes
  .page-header
    .container-fluid
      %h1
        My Resumes
        %span.small
          = link_to "New", new_user_resume_url

  .container-fluid
    - if @resumes.empty?
      %p You have no resumes.
    - else
      .row
        - @resumes.each do |resume|
          .col-sm-3.col-lg-2.col-md-3
            .resume-entry
              .thumb
                = link_to user_resume_url(current_user, resume) do
                  = image_tag resume.pdf.url(:thumb)
              .links
                .name= link_to resume.name, user_resume_url(current_user, resume)
                .small
                  = link_to "PDF", resume.pdf.url
                  |
                  = link_to "Plain Text", user_resume_url(current_user, resume, format: "txt")
                  |
                  = link_to "HTML", user_resume_url(current_user, resume, format: "html")
                  |
                  = link_to "JSON", user_resume_url(current_user, resume, format: "json")
              .publications
                - if resume.publications.present?
                  = link_to "Published", user_resume_publications_url(current_user, resume)
                - else
                  Unpublished
                  |
                  = link_to "Publish now", new_user_resume_publication_url(current_user, resume)