.page
  .page-header
    .container-fluid
      %h4 New Resume

  .container-fluid
    .row
      .col-md-12
        - if @resume.errors.any?
          %ul
            - @resume.errors.full_messages.each do |msg|
              %li= msg

        = form_for [current_user, @resume] do |f|
          .form-group
            = f.label :name
            = f.text_field :name, maxlength: 50, class: "form-control"
          .form-group
            = f.label :content
            = f.text_area :content, class: "form-control console", size: "25x40"
          = f.button "Submit", class: "btn btn-success"