.page.user-resume-page
  %ol.breadcrumb.hidden-print
    %li= link_to "My Resumes", user_resumes_url(current_user)
    %li= @resume.name

  .page-content
    .container
      .row
        .col-sm-12
          .details
            .title
              = @resume.name
              - if @resume.is_published
                .publish-toggler
                  %a PUBLISHED
            .buttons
              = link_to edit_user_resume_path(current_user, @resume), title: "Edit" do
                %span.fa.fa-edit
              = link_to stats_user_resume_path(current_user, @resume), title: "Stats" do
                %span.fa.fa-bar-chart
              = link_to delete_user_resume_path(current_user, @resume), title: "Delete" do
                %span.fa.fa-trash-o
            .publish-url
              = link_to publication_url(slug: @resume.slug), publication_url(slug: @resume.slug), target: "_blank", title: "Publish URL"
            .dates
              %div{title: "Created"}
                %span.icon.fa.fa-plus-square
                = @user_resume.created_at
              %div{title: "Last updated"}
                %span.icon.fa.fa-clock-o
                = @user_resume.updated_at
            - if @resume.requires_access_code?
              .access-code{title: "Access code"}
                %span.icon.fa.fa-lock
                = @resume.access_code
            .properties
              .item.page-count{title: "Number of pages"}
                %span.icon.fa.fa-copy
                = @resume.pdf_pages
              .item.page-views{title: "Page views"}
                %span.icon.fa.fa-eye
                = @resume.total_page_views
            .theme
              %span Theme:
              = @resume.current_theme
        .col-sm-12
          .control-panel.hidden-print
            %span.desc Other formats:
            = link_to @resume.pdf.url do
              %span.icon.fa.fa-file-pdf-o
              PDF
            = link_to user_resume_path(current_user, @resume, format: :txt) do
              %span.icon.fa.fa-file-text-o
              Plain text

      .row
        .col-sm-12
          = ResumeRenderer.new(@user_resume).render_theme(@resume.current_theme, layout: 'user', classes: 'user-view')

- content_for :stylesheet_links do
  = stylesheet_link_tag "themes/#{@resume.current_theme}", media: :all

- content_for :body_javascript do
  :javascript
