!!!
%html
  %head
    %meta{charset: 'utf8'}
    = wicked_pdf_stylesheet_link_tag "resume-default"
  %body
    .container
      .row
        .col-md-12
        .header
          %h1.full_name= @resume.data.full_name
          .address= @resume.data.address1
          .address= @resume.data.address2
          .telephone= @resume.data.telephone
          .email= @resume.data.email
          .website= @resume.data.url
      .row
        .sections
          - @resume.data.sections.each do |section|
            .col-md-12
              .section
                %h1.section__title= section.title
                - if section.has_para?
                  .para= section.para
                - if section.has_items?
                  %ul.section__items
                    - section.items.each do |item|
                      %li= item.text
                - if section.has_periods?
                  .periods
                    - section.periods.each do |period|
                      .period
                        %h2.period__title= period.title
                        - if period.has_organization?
                          .period__organization= period.organization
                        - if period.has_location?
                          .period__location= period.location
                        - if period.has_dtend? && period.has_dtstart?
                          .period_dt #{period.dtstart} - #{period.dtend}
                        - elsif period.has_dtstart?
                          .period_dt= period.dtstart
                        - if period.has_items?
                          %ul.period__items
                            - period.items.each do |item|
                              %li= item.text