!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no"}
    = yield :page_meta
    %title JibJob
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700", media: "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Fugaz+One", media: "all"
    = stylesheet_link_tag "//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic", media: "all"
    = stylesheet_link_tag "application", media: "all"
    %link{rel: 'shortcut icon', href: image_url('favicon.png')}
    = yield :head_javascript
    = include_gon
    = csrf_meta_tags
    %link{ rel: "apple-touch-icon", sizes: "120x120", href: image_url("apple-touch-icon.png") }
    = analytics_init if Rails.env.production?
  %body
    = render partial: "navbar"
    = render partial: "notification"
    = yield
    = render partial: "footer"

    = javascript_include_tag "application"
    = yield :body_javascript