!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, user-scalable=no"}
    %title JibJob
    %link{href: "/assets/css/application.css", rel: "stylesheet", media: "all"}
    %link{rel: 'shortcut icon', href: image_url('favicon.png')}
    = yield :head_javascript
    = include_gon
    = csrf_meta_tags
    %link{ rel: "apple-touch-icon", sizes: "120x120", href: image_url("apple-touch-icon.png") }
    = analytics_init if Rails.env.production?
  %body
    = render partial: "navbar"
    = render partial: "notification"
    = yield
    = render partial: "footer"

    %script{src: "/assets/js/library.js"}
    %script{src: "/assets/js/components.js"}
    = yield :body_javascript